# User MUST provide

PSM_HOST_MSR_LICENSE_FILE_LOCATION=c:\path\to\msr-license.xml

# User MAY provide

#PSM_DEV_CONTAINER_IMAGE=host.docker.internal:44450/webmethods-microservicesruntime
PSM_DEV_CONTAINER_IMAGE=host.docker.internal:44450/webmethods-microservicesruntime
PSM_DEV_CONTAINER_TAG=10.15.0.20-slim

#PSM_DEV_UM_CONTAINER_IMAGE=host.docker.internal:44450/universalmessaging-server
PSM_DEV_UM_CONTAINER_IMAGE=ibmwebmethods.azurecr.io/universalmessaging-server
PSM_DEV_UM_CONTAINER_TAG=10.15.0.27

PSM_GUEST_PACKAGES_FOLDER=/opt/softwareag/IntegrationServer/packages

PSM_GUEST_MOUNT_POINT_APPLICATION_PROPERTIES=/mnt/application.properties
PSM_GUEST_MOUNT_POINT_LICENSE_FILE=/mnt/msr-license.xml
PSM_GUEST_MOUNT_POINT_UM_REALM_DATA=/opt/softwareag/UniversalMessaging/server/umserver/data/
PSM_GUEST_MOUNT_POINT_UM_REALM_LOGS=/opt/softwareag/UniversalMessaging/server/umserver/logs/
PSM_GUEST_MOUNT_POINT_UM_REALM_USERS=/opt/softwareag/common/conf/

PSM_PORT_PREFIX=452
