PSM_GUEST_IS_HOME=/opt/softwareag/IntegrationServer
PSM_GUEST_PACKAGES_FOLDER=${PSM_GUEST_IS_HOME}/packages
PSM_MSR_CONTAINER_IMAGE=ibmwebmethods.azurecr.io/webmethods-microservicesruntime
PSM_MSR_CONTAINER_TAG=11.1.0.5
