PSM_GUEST_IS_HOME=/opt/softwareag/IntegrationServer
PSM_GUEST_PACKAGES_FOLDER=${PSM_GUEST_IS_HOME}/packages

# PSM_MSR_CONTAINER_IMAGE=ibmwebmethods.azurecr.io/webmethods-microservicesruntime
# PSM_MSR_CONTAINER_TAG=11.1.0.9

# Build a local one in order to change the use rid to match your running host
# Framework default: 1001:1001
# see 02.build/msr-uid-change
PSM_MSR_CONTAINER_IMAGE=my-current-msr-dev
PSM_MSR_CONTAINER_TAG=latest
